#cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: white;
  padding-bottom: 10vh;
}

#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 91vh;
  justify-content: flex-start;
  align-items: center;
  background-color: white ;
  overflow: hidden;
}

h1 {
  color: #1976D2;
  width: 100vw;
  text-align: start;
  padding-left: 13vw;
  padding-bottom: 10vh;
}

#bottom-title {
  font-size: 80;
  color: "white"
}

li {
  color: black;
  list-style-type: none;
  font-size: large;
  font-weight: 500;
  margin: 2vh;
}