#cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: rgb(56, 28, 84);
  padding-bottom: 10vh;
}

#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(56, 28, 84);
}

h1 {
  color: whitesmoke;
  width: 100vw;
  text-align: start;
  padding-left: 13vw;
  padding-bottom: 10vh;
}